<h3>Reportes</h3>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ventas Semanales</h5>
        <div class="card-body">
          <canvas id="myChart" width="400" height="250"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Productos Vendidos</h5>
        <div class="card-body">
          <canvas id="myChart2" width="250" height="250"></canvas>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Productos Vendidos</h5>
        <div class="card-body">
          <canvas id="myChart3" width="250" height="250"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 my-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ventas Semanales</h5>
        <div class="card-body">
          <canvas id="myChart4" width="400" height="250"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">Monto ganado</div>
        <div class="card-text">$99.999</div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">Articulos vendidos</div>
        <div class="card-text">99</div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">Descargar Stock de productos</div>
        <button class="btn btn-success">Descargar</button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">Productos más buscados</div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
      </div>
    </div>
  </div>

</div>