<div class="containerHome">
  <h3>Dashboard</h3>

  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas Semanales</h5>
          <div class="card-body">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title">Monto ganado</div>
          <div class="card-text">$99.999</div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Productos Vendidos</h5>
          <div class="card-body">
            <canvas id="myChart2" width="250" height="280"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 mx-auto">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos más vendidos</h5>
            <div class="card-body">
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos menos vendidos</h5>
            <div class="card-body">
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos menos vendidos</h5>
            <div class="card-body">
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
              <img
                src="https://www.semilleriasanalfonso.cl/wp-content/uploads/2021/04/Pak_Choi_Canton_White_720x-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>