<div class="navbar">
    <img class="navbar_avatarUser" src="https://static.vix.com/es/sites/default/files/styles/1x1/public/1/10_datos_que_no_sabias_de_avatar.jpg" alt="">
    <h3>Hola "nombreTiendaaaa"</h3>
 
    <ul class="navbar_listButton">
        <a href="/"><li><i class="fas fa-home"></i>  Home</li></a>
        <a href="/reportes"><li><i class="far fa-chart-bar"></i> Reportes</li></a>
        <a href="/productos"><li><i class="fas fa-store"></i>  Productos</li></a>
        <a href="/ventas"><li><i class="fas fa-cash-register"></i>  Ventas</li></a>
        <a href="/perfil"><li><i class="fas fa-user-cog"></i>  Configuración</li></a>
        <a href=""><li><i class="fas fa-sign-out-alt"></i>  Cerrar sesión</li></a>

    </ul>

</div>