<h3>Agregar Producto</h3>

<form action="/productos/addProductos" method="POST" enctype="multipart/form-data">

  <div class="row">

    <div class="mb-3 col-md-6">
      <label for="nombre" class="form-label">Nombre del producto</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
        autofocus
      />
      <div class="form-text">Ingresa el nombre preciso de tu producto</div>
    </div>
    <div class="mb-3 col-md-6">
      <label for="categoria" class="form-label">Categoria del producto</label>
      <select class="form-select" required name="categoria" id="categoria">
        <option value="semilla">Semilla</option>
        <option value="esquejes">Esquejes</option>
        <option value="flores">Flores</option>
        <option value="planta">Planta</option>
        <option value="cactus">Cactus</option>
        <option value="suculentas">Suculentas</option>
        <option value="arbol">Arbol</option>
        <option value="tierra">Tierra</option>
        <option value="fertilizante">Fertilizante</option>
        <option value="insumos">Insumos</option>
      </select>
      <div class="form-text">Selecciona la categoria que m치s se le acerca a tu
        producto</div>
    </div>
    <div class="mb-3 col-md-3">
      <label for="stock" class="form-label">Stock del producto</label>
      <input
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        required
        autofocus
      />
      <div class="form-text">Ingresa el stock actual de tu producto</div>
    </div>
    <div class="mb-3 col-md-3">
      <label for="valor" class="form-label">Valor del producto</label>

      <input
        type="number"
        class="form-control"
        id="valor"
        name="valor"
        required
        autofocus
      />
      <div class="form-text">Ingresa el valor de tu producto</div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="descripcion" class="form-label">Descripci칩n del producto</label>
      <textarea
        class="form-control"
        id="descripcion"
        name="descripcion"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3 form-group col-md-6">
      <label for="pic1_producto" class="form-label">Foto principal (Obligatoria)</label>
      <input
        type="file"
        name="pic1_producto"
        id="pic1_producto"
        class="form-control"
        accept="image/png, .jpeg, .jpg, image/gif"
        required
      />
      <div class="form-text">M치ximo 2MB. Solo acepta archivos formato: .jpg
        .jpeg .png .gif
      </div>
    </div>
    <div class="mb-3 form-group col-md-6">
      <label for="pic1_producto" class="form-label">Foto secundaria</label>
      <input
        type="file"
        name="pic2_producto"
        id="pic2_producto"
        class="form-control"
        accept="image/png, .jpeg, .jpg, image/gif"
      />
      <div class="form-text">M치ximo 2MB. Solo acepta archivos formato: .jpg
        .jpeg .png .gif
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-success">Agregar</button>
</form>